.App {
  text-align: center;
}

.result{
  height: 10rem;
  background-color:rgb(26, 25, 25);;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.result p{
  font-size: 45pt;
  font-weight: 500;
  color: white;
}

.calc-body{
max-width: 400px;
margin: auto;
}

.buttons{
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: minmax(60px, auto);
}

.clear{
  grid-column: 3/5;
  grid-row: 1;
}

.equal{
  grid-column: 1/5;
  grid-row: 6;
}

button{
  background: rgb(26, 25, 25);
  border: none;
  border-radius: 5px;
  margin: 2.5px;
  font-size: 20pt;
  font-weight: 450;
  color: white;
}

#highlight{
  background-color:rgb(250, 142, 0)
}


